.page {
  background-color: #fff; /* Set background color */
  min-height: 100vh; /* Ensure full viewport height */
  font-family: sans-serif; /* Choose a default font */

  /* Add padding or margin if needed */
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #000; /* Dark mode background */
  }
}

/* Optional: Add any global styles for specific elements */
body {
  margin: 0; /* Reset default body margin */
}