.header {
    background-color: var(--secondary); 
    color: var(--text-primary); 
    padding: 20px;
    text-align: center; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
  }
  
  .headerTitle {
    font-size: 36px;
    // color: #333;
  }
  
  .headerItem {
    // color: var(--text-primary);
    // background-image: linear-gradient(to top, #000000, #ffffff);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }